<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated WTSpec2.0 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WTSpec.presentation.WTSpecModelWizardID"
            name="%_UI_WTSpecModelWizard_label"
            class="eu.mondo.collaboration.operationtracemodel.example.WTSpec.presentation.WTSpecModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WTSpecModelFile.gif">
         <description>%_UI_WTSpecModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated WTSpec2.0 -->
      <editor
            id="WTSpec.presentation.WTSpecEditorID"
            name="%_UI_WTSpecEditor_label"
            icon="icons/full/obj16/WTSpecModelFile.gif"
            extensions="wtspec"
            class="eu.mondo.collaboration.operationtracemodel.example.WTSpec.presentation.WTSpecEditor"
            contributorClass="eu.mondo.collaboration.operationtracemodel.example.WTSpec.presentation.WTSpecActionBarContributor">
      </editor>
   </extension>

</plugin>
