/.ClassesOfSchoolMatch.java._trace
/.ClassesOfSchoolMatcher.java._trace
/.ClassesOfTeacherMatch.java._trace
/.ClassesOfTeacherMatcher.java._trace
/.ClassesOfTeacherNamesMatch.java._trace
/.ClassesOfTeacherNamesMatcher.java._trace
/.CourseWithNameLongerThanWeightIntMatch.java._trace
/.CourseWithNameLongerThanWeightIntMatcher.java._trace
/.CourseWithNameLongerThanWeightMatch.java._trace
/.CourseWithNameLongerThanWeightMatcher.java._trace
/.CourseWithPrimeWeightMatch.java._trace
/.CourseWithPrimeWeightMatcher.java._trace
/.CourseWithWeightThirtyMatch.java._trace
/.CourseWithWeightThirtyMatcher.java._trace
/.CoursesMatch.java._trace
/.CoursesMatcher.java._trace
/.CoursesOfTeacherMatch.java._trace
/.CoursesOfTeacherMatcher.java._trace
/.CoursesOfTeacherNamesMatch.java._trace
/.CoursesOfTeacherNamesMatcher.java._trace
/.FinalPattern2Match.java._trace
/.FinalPattern2Matcher.java._trace
/.FinalPatternMatch.java._trace
/.FinalPatternMatcher.java._trace
/.FriendlyToMatch.java._trace
/.FriendlyToMatcher.java._trace
/.InTheCircleOfFriendsMatch.java._trace
/.InTheCircleOfFriendsMatcher.java._trace
/.InTheCircleOfFriendsNamesMatch.java._trace
/.InTheCircleOfFriendsNamesMatcher.java._trace
/.MoreFriendsThanMatch.java._trace
/.MoreFriendsThanMatcher.java._trace
/.School.java._trace
/.SchoolsMatch.java._trace
/.SchoolsMatcher.java._trace
/.SchoolsNamesMatch.java._trace
/.SchoolsNamesMatcher.java._trace
/.SomeCourseMatch.java._trace
/.SomeCourseMatcher.java._trace
/.StudentOfSchoolMatch.java._trace
/.StudentOfSchoolMatcher.java._trace
/.StudentOfSchoolNamesMatch.java._trace
/.StudentOfSchoolNamesMatcher.java._trace
/.TeacherWithoutClassMatch.java._trace
/.TeacherWithoutClassMatcher.java._trace
/.TeacherWithoutClassNamesMatch.java._trace
/.TeacherWithoutClassNamesMatcher.java._trace
/.TeachersMatch.java._trace
/.TeachersMatcher.java._trace
/.TeachersNamesMatch.java._trace
/.TeachersNamesMatcher.java._trace
/.TeachersOfSchoolMatch.java._trace
/.TeachersOfSchoolMatcher.java._trace
/.TeachersOfSchoolNamesMatch.java._trace
/.TeachersOfSchoolNamesMatcher.java._trace
/.TeachesMoreClassesMatch.java._trace
/.TeachesMoreClassesMatcher.java._trace
/.TeachesTheMostCoursesMatch.java._trace
/.TeachesTheMostCoursesMatcher.java._trace
/.TheOnesWithTheBiggestCircleMatch.java._trace
/.TheOnesWithTheBiggestCircleMatcher.java._trace
/.TheOnesWithTheBiggestCircleNameMatch.java._trace
/.TheOnesWithTheBiggestCircleNameMatcher.java._trace
