<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OperationTraceModel -->
      <package
            uri="http://operationtracemodel/1.0"
            class="operationtracemodel.OperationtracemodelPackage"
            genModel="model/OperationTraceModel.genmodel"/>
   </extension>

</plugin>
