<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.mondo.collaboration.online.rap.widgets.ModelExplorer"
            icon="icons/bricks.png"
            id="org.mondo.collaboration.online.rap.widgets.ModelExplorer"
            name="Model Explorer"
            restorable="true">
      </view>
      <view
            class="org.mondo.collaboration.online.rap.widgets.ModelLogView"
            id="org.mondo.collaboration.online.rap.widgets.ModelLog"
            name="Model Log"
            restorable="true">
      </view>
      <view
            class="org.mondo.collaboration.online.rap.widgets.WhiteboardChatView"
            id="org.mondo.collaboration.online.rap.widgets.WhiteboardChatView"
            name="Whiteboard Chat">
      </view>
      <view
            class="org.mondo.collaboration.online.rap.widgets.WhiteboardChatView"
            id="org.mondo.collaboration.online.rap.widgets.SessionChatView"
            name="New ViewPart">
      </view>
      <view
            class="org.mondo.collaboration.online.rap.widgets.Asd"
            id="org.mondo.collaboration.online.rap.widgets.Asd"
            name="New ViewPart">
      </view>
   </extension>

</plugin>
