<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.mondo.collaboration.online.rap.widgets.ModelExplorer"
            icon="icons/bricks.png"
            id="org.mondo.collaboration.online.rap.widgets.ModelExplorer"
            name="Model Explorer"
            restorable="true">
      </view>
   </extension>

</plugin>
