<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.mondo.collaboration.security.lens.offline.cli.uniqueIDSchemeFactory" name="Mondo Offline Collaboration Unique ID Scheme Factory" schema="schema/org.mondo.collaboration.security.lens.offline.cli.uniqueIDSchemeFactory.exsd"/>
   <extension
         id="org.mondo.collaboration.security.lens.offline.cli"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.mondo.collaboration.security.lens.offline.cli.OfflineLensApplication">
         </run>
      </application>
   </extension>
   <extension
         id="MondoSecurityLensOffline"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.mondo.collaboration.security.lens.offline.cli"
            name="Mondo Offline Collaboration Command-line Application Product">
         <property
               name="appName"
               value="Mondo Offline Collaboration Command-line Application Product">
         </property>
      </product>
   </extension>

</plugin>
