<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MONDO Collaboration Target Platform" sequenceNumber="349">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.viatra.query.sdk.feature.source.feature.group" version="1.5.2.201703171613"/>
<repository location="http://download.eclipse.org/viatra/updates/release"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.viatra.modelobfuscator.feature.feature.group" version="0.15.0.201611221710"/>
<repository location="http://download.eclipse.org/viatra/modelobfuscator/updates/integration/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="3.1.2.20161130-0738"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.1.2.20170215-1810"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.1.2.20170308-1815"/>
<repository location="http://download.eclipse.org/rt/rap/3.1/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.2.v20160128-1406"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.2.2.v20160202-2102"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.platform.sdk" version="4.5.2.M20160212-1500"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.11.0.v20170201-0242"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.0.v201605261103"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201605261103"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.11.0.v20170201-0242"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.20.v201605261103"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.thrift" version="0.9.3"/>
<repository location="http://mondo-project.github.io/mondo-integration/thirdparty-nonp2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.9.0.v20160526-0356"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20160526-0356"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.2.1.201703011420"/>
<unit id="org.eclipse.emf.validation.feature.group" version="1.10.0.201606071713"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XX:MaxPermSize=256m -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
