<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target" sequenceNumber="29">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.viatra.modelobfuscator.feature.feature.group" version="0.7.0.201509151204"/>
<repository location="https://hudson.eclipse.org/viatra/job/viatra-modelobfuscator-master/lastSuccessfulBuild/artifact/releng/org.eclipse.viatra.modelobfuscator.update/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-0404"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.team.svn.feature.group" version="3.0.1.I20150722-1700"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.incquery.sdk.feature.source.feature.group" version="1.1.0.201510091636"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
<repository location="http://download.eclipse.org/incquery/updates/integration"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.0.v201510020259"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.1.v201508030321"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.11.v201508030321"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.1.v201508030411"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
</locations>
</target>
