<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="workspaceTrackerMenu.commands.category">
      </category>
      <command
            categoryId="workspaceTrackerMenu.commands.category"
            defaultHandler="eu.mondo.collaboration.workspaceTrackerMenu.handlers.SampleHandler"
            id="workspaceTrackerMenu.commands.sampleCommand"
            name="Workspace Tracker">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="workspaceTrackerMenu.commands.sampleCommand"
            class="eu.mondo.collaboration.workspaceTrackerMenu.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Workspace Tracker Menu"
               id="workspaceTrackerMenu.menus.sampleMenu">
            <command
                  commandId="workspaceTrackerMenu.commands.sampleCommand"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
