<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="macl.project.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:macl.project.Queries" id="macl.project.Queries"/>
  </extension>
</plugin>
