<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.mondo.collaboration.client.command.lock.Publish"
            id="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Publish"
            name="Publish">
      </command>
      <command
            defaultHandler="org.mondo.collaboration.client.command.lock.Unpublish"
            id="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Unpublish"
            name="Unpublish">
      </command>
      <command
            defaultHandler="org.mondo.collaboration.client.command.lock.Enable"
            id="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Enable"
            name="Enable">
      </command>
      <command
            defaultHandler="org.mondo.collaboration.client.command.lock.Disable"
            id="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Disable"
            name="Disable">
      </command>
      <command
            defaultHandler="org.mondo.collaboration.client.command.lock.Download"
            id="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Download"
            name="Download">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="team.main"
               label="T&amp;eam">
            <menu
                  label="Locks">
               <command
                     commandId="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Publish"
                     label="Publish"
                     style="push">
               </command>
               <command
                     commandId="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Unpublish"
                     label="Unpublish"
                     style="push">
               </command>
               <command
                     commandId="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Enable"
                     label="Enable"
                     style="push">
               </command>
               <command
                     commandId="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Disable"
                     label="Disable"
                     style="push">
               </command>
               <command
                     commandId="org.mondo.collaboration.client.org.mondo.collaboration.client.command.lock.Download"
                     label="Download"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
