/.CoursesProcessor.java._trace
/.CoursesQuerySpecification.java._trace
/.SchoolsNamesProcessor.java._trace
/.SchoolsNamesQuerySpecification.java._trace
/.SchoolsProcessor.java._trace
/.SchoolsQuerySpecification.java._trace
/.TeachersNamesProcessor.java._trace
/.TeachersNamesQuerySpecification.java._trace
/.TeachersOfSchoolNamesProcessor.java._trace
/.TeachersOfSchoolNamesQuerySpecification.java._trace
/.TeachersOfSchoolProcessor.java._trace
/.TeachersOfSchoolQuerySpecification.java._trace
/.TeachersProcessor.java._trace
/.TeachersQuerySpecification.java._trace
/.ClassesOfSchoolProcessor.java._trace
/.ClassesOfSchoolQuerySpecification.java._trace
/.ClassesOfTeacherNamesProcessor.java._trace
/.ClassesOfTeacherNamesQuerySpecification.java._trace
/.ClassesOfTeacherProcessor.java._trace
/.ClassesOfTeacherQuerySpecification.java._trace
/.CourseWithNameLongerThanWeightIntProcessor.java._trace
/.CourseWithNameLongerThanWeightIntQuerySpecification.java._trace
/.CourseWithNameLongerThanWeightProcessor.java._trace
/.CourseWithNameLongerThanWeightQuerySpecification.java._trace
/.CourseWithPrimeWeightProcessor.java._trace
/.CourseWithPrimeWeightQuerySpecification.java._trace
/.CourseWithWeightThirtyProcessor.java._trace
/.CourseWithWeightThirtyQuerySpecification.java._trace
/.CoursesOfTeacherNamesProcessor.java._trace
/.CoursesOfTeacherNamesQuerySpecification.java._trace
/.CoursesOfTeacherProcessor.java._trace
/.CoursesOfTeacherQuerySpecification.java._trace
/.FriendlyToProcessor.java._trace
/.FriendlyToQuerySpecification.java._trace
/.InTheCircleOfFriendsProcessor.java._trace
/.InTheCircleOfFriendsQuerySpecification.java._trace
/.StudentOfSchoolNamesProcessor.java._trace
/.StudentOfSchoolNamesQuerySpecification.java._trace
/.StudentOfSchoolProcessor.java._trace
/.StudentOfSchoolQuerySpecification.java._trace
/.TeacherWithoutClassNamesProcessor.java._trace
/.TeacherWithoutClassNamesQuerySpecification.java._trace
/.TeacherWithoutClassProcessor.java._trace
/.TeacherWithoutClassQuerySpecification.java._trace
/.TeachesMoreClassesProcessor.java._trace
/.TeachesMoreClassesQuerySpecification.java._trace
/.TeachesTheMostCoursesProcessor.java._trace
/.TeachesTheMostCoursesQuerySpecification.java._trace
/.FinalPattern2Processor.java._trace
/.FinalPattern2QuerySpecification.java._trace
/.FinalPatternProcessor.java._trace
/.FinalPatternQuerySpecification.java._trace
/.InTheCircleOfFriendsNamesProcessor.java._trace
/.InTheCircleOfFriendsNamesQuerySpecification.java._trace
/.MoreFriendsThanProcessor.java._trace
/.MoreFriendsThanQuerySpecification.java._trace
/.SomeCourseProcessor.java._trace
/.SomeCourseQuerySpecification.java._trace
/.TheOnesWithTheBiggestCircleNameProcessor.java._trace
/.TheOnesWithTheBiggestCircleNameQuerySpecification.java._trace
/.TheOnesWithTheBiggestCircleProcessor.java._trace
/.TheOnesWithTheBiggestCircleQuerySpecification.java._trace
